# Игнорировать файлы с конфиденциальной информацией
schedule.json
groups.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv
venv/
.env/
.env
.test.env

# VS Code
.vscode/

# PyCharm
.idea/

# SQLite
*.db

# Logs
*.log

# macOS / Linux / Windows junk
.DS_Store
Thumbs.db

# Python dependency files
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/
tests/

# Coverage
.coverage
htmlcov/

# MyPy
.mypy_cache/

# Backup or temp files
*.bak
*.tmp
*.swp

#env
.env
.environment
