# Игнорировать файлы с конфиденциальной информацией
.env
schedule.json
groups.json

# Виртуальное окружение
venv/

# Кеш Python
__pycache__/

# IDE-шные файлы (если используешь VS Code, PyCharm и т.п.)
*.vscode/
*.idea/

#Chrome driver
chromedriver.exe